* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.texts {
  list-style: none;
}

.head {
  text-align: center;
  margin-bottom: 20px;
}
#form {
  text-align: center;
}

.container {
  margin-left: 80px;
}

#list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.line {
  border: 0.2px solid grey;
}

.pad {
  padding-top: 10px;
}
